<html>
    <head>
            <title>RB's ISBN CSV Style</title>
    </head>
    <body>
        <center>
            <div>
                <span>Please Enter ISBN(s)<br>(each seperated by a new line)</span>
                <form method="post" action="/store-check">
                    <center>
                        <textarea id="isbn_entry" name="user_isbn" placeholder="Enter ISBN(s) Here." required></textarea><br>
                        <input type="submit" value="Validate!">
                    </center>
                    <input type="hidden" name="count" value="<%= count %>">
                    <% isbn.each do |v| %>
                        <input type="hidden" name="stored_isbn[]" value="<%= v %>">
                    <% end %>
                    <% valid.each do |v| %>
                        <input type="hidden" name="stored_valid[]" value="<%= v %>">
                    <% end %>
                </form>
            </div>
        </center>
    </body>
</html>