body{
    background-color: #247422;
    padding-top: 20px;
}
span{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 5px;
}
.big {
    font-size: 3rem;
}
.small {
    font-size: 1.5rem;
}
form,
textarea,
input {
    margin: 5px;
}
textarea{
    background-color: #bcbe15dc;
    color: white;
    width: 30%;
    height: 50%;
    border: none;
    box-shadow: 1px 1px 5px darkslateblue;
    border-radius: 1%;
}
input[type=submit]{
    background-color: tomato;
    font-weight: 500;
    font-size: 3rem;
    color: black;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px darkslateblue;
    border-radius: 5%;
}
.new{
    background-color: #bcbe15;
    color: #00008b;
}
.old{ 
    background-color: #ff0000;
    color: #ffffff;
}
table{
    width: 50%;
    margin: 1%;
}
th{
    background-color: #00008b;
    font-size:2rem;
    color: #bcbe15;
}
td{
    text-align: center;
    font-size: 1.2rem;
    padding: 1%;
    margin: 1%;
}